*/.idea/
*/*/.idea/
*/.settings/
*/*/.settings/
*/.vscode/
*/*/.vscode/
*/.mvn/
*/*/.mvn/
*.classpath
*.project
*.iml
*.lck
*/*/target/classes/*
*/*/target/maven-archiver/*
*/*/target/maven-status/*
*/*/target/test-classes/*
*/*/target/surefire-reports/*
*/*/target/*.original
/.idea/
/Chapter_07_JavaFX/javafx-dashboard/target/
/Chapter_09_Pi4J/fxgl-game/logs/
/Chapter_09_Pi4J/fxgl-game/system/
/Chapter_09_Pi4J/fxgl-game/target/
/logs/
