/*
http://paletton.com/#uid=13-0u0kllllaFw0g0qFqFg0w0aF

728CA6
4A6B8A
2A4D6E
133353
041E37
*/

.bg {
  -fx-background-color: #133353;
}

/* MAIN MENU */
.menuButton {
  -fx-font: 20px "Sans";
  -fx-padding: 10;
  -fx-background-color: #041E37;
  -fx-text-fill: #728CA6;
  -fx-font-weight: bold;
  -fx-min-width: 100;
}

.menuButton:hover {
  -fx-text-fill: yellow;
}

.menuButton:armed {
  -fx-text-fill: red;
}

.label {
  -fx-font: 14px "Sans";
  -fx-text-fill: #728CA6;
}

/* LED CONTROL PANEL */
.ledButton {
  -fx-font: 20px "Sans";
  -fx-padding: 10;
  -fx-background-color: #041E37;
  -fx-text-fill: #728CA6;
  -fx-font-weight: bold;
  -fx-min-width: 200;
  -fx-min-height: 30;
}

.ledButtonFullWidth {
  -fx-font: 20px "Sans";
  -fx-padding: 10;
  -fx-background-color: #041E37;
  -fx-background-insets: 0;
  -fx-text-fill: #728CA6;
  -fx-font-weight: bold;
  -fx-min-width: 410;
  -fx-min-height: 30;
}

.ledButton:hover {
  -fx-text-fill: yellow;
}

.ledButton:selected {
  -fx-text-fill: #041E37;
  -fx-background-color: yellow, #728CA6;
  -fx-background-insets: 0 0 0 0, 2 2 2 2;
}

.ledSpeed {
  -fx-font: 20px "Sans";
  -fx-padding: 10;
  -fx-text-fill: #728CA6;
  -fx-font-weight: bold;
  -fx-min-height: 30;
}

